body{

    background-color: black;
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    
    padding-bottom: 30px;
    margin-bottom: 30px;
    

font-size: 70px;
}

section{
    justify-content: center;
align-items: center;

padding-bottom: 30px;
margin-bottom: 30px;

min-height: 100vh;

}


.head{
    opacity: 0;
    transition: all 1s;
    transform: translateX(-100%);
    filter: blur(5px);
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
